*.pyc
.vscode/
# ignore internal examples
examples/ade_pcopri/
examples/andrew_crc_cutc/
examples/caritro_fig6/
examples/crypto/
examples/neisseriaceae/
examples/nic_erectale_main/
examples/nic_erectale_outliers/
examples/rand/
examples/test/
